body {
    background-image: url('/Portfolio/imagens/céu_Estrelado_Site.png');
    background-size: x=180px y=150px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}