#titulo1 {
    background-image: url('/Portfolio/imagens/céu_Estrelado_Site.png');
    background-size: 100% 103px;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
Commit da atividade de hoje, 17/10/2024. Adicionei um quiz interativo sobre a vida, onde o usuário responde perguntas e no final recebe um resultado baseado nas respostas. Também organizei o código em seções para facilitar a leitura e manutenção, bem como minhas competências.